<form>
	<h3>Agrega una nueva tarea</h3>
	<div class="has-feedback">
		<input type="text" class="form-control" placeholder="Tarea a realizar" ng-model="tarea.nombre"></input>
		<span class="glyphicon glyphicon-tasks form-control-feedback"></span>
	</div>
	<div>
		<span class="glyphicon glyphicon-time"></span>&nbsp;<span class="lead prioridad">Elige la prioridad</span>
		<label class="radio-inline">
			<input type="radio" ng-model="tarea.prioridad" value="0"> Baja
		</label>
		<label class="radio-inline">
			<input type="radio" ng-model="tarea.prioridad" value="1"> Normal 
		</label>
		<label class="radio-inline">
			<input type="radio" ng-model="tarea.prioridad" value="2"> Alta
		</label>
	</div>
	<button type="submit" class="btn btn-success" ng-click="agregar()">Agregar</button>
</form>
<div class="todoList bg-info">
	<h4>Tareas registradas</h4>
	<div class="item" ng-repeat="tarea in tareas | orderBy: '-prioridad'">
		<span class="glyphicon glyphicon-circle-arrow-up" ng-hide="tarea.prioridad==2" ng-click="masPrioridad(tarea)"></span>
		<span class="glyphicon glyphicon-circle-arrow-down" ng-hide="tarea.prioridad==0"  ng-click="menosPrioridad(tarea)"></span>
		<span class="prioridad">Prioridad: {{prioridades[tarea.prioridad]}} </span> |
		<span>
			<a href="#">Tarea: {{tarea.nombre}}</a>
			<span class="glyphicon glyphicon-edit text-warnig" ng-click="procesaObjeto(tarea)"></span>
			<span class="glyphicon glyphicon-remove text-danger" ng-click="eliminar(tarea)"></span>
		</span>
	</div>
</div>
